*{
  box-sizing:border-box;
  font-family: Helvetica;
}
h1{
  text-align:center;
}
p{
  background-color: DodgerBlue;
  margin: 10px;
  border: 1px solid black;
  padding: 40px 15px 15px 15px;
  }
h2{
   float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    width: 230px;
    text-align: center;
    font-style: Times;
    font-size: 24px;
    font-weight: bold;
    height: 45px;
  padding-top: 10px;}

@media (min-width: 992px){
  .large{
    width: 33.33%;}
  }
  @media (min-width: 768px) and (max-width: 991px){
    .medium{
      width:50%;}
    .medium2{
      width:100%;}
    }
    @media (max-width: 767px){
      .small{
        width:100;}
}
